<head>
  <base href="/">
  <title>Viewer</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/angular2-toaster/toaster.css" />
</head>

<body>
  <app></app>
</body>
