<div class="zone-form">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" [ngClass]="{ 'active': step === 'ZONE' }">Zona</li>
      <li class="breadcrumb-item" *ngIf="step === 'REGISTER'" [ngClass]="{ 'active': step === 'REGISTER' }">Registro</li>
    </ol>
  </nav>

  <div *ngIf="step === 'ZONE'" class="container-fluid" >
    <div class="row">
      <div class="col-6 d-flex">
        <input ngModel #ruleName="ngModel" name="ruleName" type="text" class="form-control search-zone text-right" placeholder="Code" (keyup.enter)="cargarZona(ruleName.value)">
        <a class="btn btn-default btn-sm clickable" [ngClass]="{'disabled-action': !ruleName.value?.trim()}" tabindex="0" (click)="cargarZona(ruleName.value)">
          <i class="fa fa-search"></i>
        </a>
      </div>
      <div class="col-6 text-right d-flex justify-content-between">
        <button type="button" *ngIf="zoneMode === 'CREATION'" class="btn btn-info clickable" (click)="resetPoligon()">Reiniciar</button>
        <!-- @TODO Acciones, el crear aparece si no hay la zona existente y hay mas de 3 puntos -->
        <button *ngIf="zoneMode === 'CREATION'" type="button" class="btn btn-primary clickable" [ngClass]="{ 'disabled-action': paths.length < 3 }" (click)="createZone()">Crear</button>
        <button *ngIf="zoneMode === 'SELECTION'" type="button" class="btn btn-primary clickable" (click)="selectZone()">Siguiente</button>
        <button *ngIf="zoneMode === 'UPDATE'" type="button" class="btn btn-primary clickable" (click)="updateZone()">Update</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <agm-map [latitude]="iniLat" [longitude]="iniLng" [zoom]="zoom" (mapClick)="onMapClick($event)">
          <!-- @TODO Dibujando los markers para indicar donde estan los puntos -->
          <ng-template ngFor let-point [ngForOf]="paths | slice:0:paths.length - 1">
            <agm-marker [latitude]="point.lat" [longitude]="point.lng"></agm-marker>
          </ng-template>

          <!-- @TODO Dibujando el area solo si el path es mayor a 3 -->
          <agm-polygon *ngIf="paths.length > 3" [paths]="paths">
          </agm-polygon>
        </agm-map>
      </div>
    </div>
  </div>

  <div *ngIf="step === 'REGISTER'"  class="container-fluid">
    <div class="row align-items-baseline pb-3">
      <div class="col-sm-3 text-right">
        ZONA:
      </div>
      <div class="col-sm-9">
        <strong class="pr-2">{{currentZone.code}}</strong>
        <button type="button" class="btn btn-secondary pr-2 clickable" (click)="step = 'ZONE'" >
          <i class="fa fa-reply" aria-hidden="true"></i> Cambiar
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-success w-100 mb-2 clickable" (click)="startRegister()">
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar Registro
        </button>
        <div class="list-group text-center">
          <ng-template ngFor let-register [ngForOf]="registers | async">
            <a class="list-group-item list-group-item-action clickable" [ngClass]="{ 'active': isSelected(register) }" (click)="currentReg = register; buildDateRegister();">
              Fecha: <b>{{register.date | amDateFormat: dateFormat}}</b>
              <!-- User: {{getUser(register.userId)}} -->
              <!-- @TODO angular2 moment -->
            </a>
          </ng-template>
        </div>
      </div>
      <div class="col-6 contamination-form">
        <form *ngIf="currentReg">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha :</label>
            <div class="col-sm-9">
              <!-- @TODO para manipular con doble data binding https://angular.io/api/forms/NgModel -->
              <input type="text" class="form-control" placeholder="--/--/----" [(ngModel)]="regDateStr" name="date">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" title="Monoxido de carbono">CO :</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="Ingrese valor" [(ngModel)]="currentReg.co" name="co">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" title="Dioxido de carbono"> CO2 :</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="Ingrese valor" [(ngModel)]="currentReg.co2" name="co2">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" title="Dioxido de nitrogeno"> NO2 :</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="Ingrese valor" [(ngModel)]="currentReg.no2" name="no2">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" title="Dioxido de azufre"> SO2 :</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="Ingrese valor" [(ngModel)]="currentReg.so2" name="so2">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" title="Particulas suspendidas">PM10 :</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" placeholder="Ingrese valor" [(ngModel)]="currentReg.pm10" name="pm10">
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center pr-0">
              <button *ngIf="!currentReg._id" type="submit" class="btn btn-primary clickable" (click)="createRegister()">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
