<form>
  <div class="container-fluid">
    <div class="form-group">
      <label for="exampleInputFile">Selecciona archivo CSV para importar zona</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" (change)="onChange($event)">
      <small id="fileHelp" class="form-text text-muted">El archivo debe tener el formato.....</small>
      <a href="/ejemplo.csv" download target="_blank">Download ejemplo</a>
    </div>
  </div>
</form>