<nav class="navbar navbar-light navbar-expand">
  <span class="navbar-brand">
    <img src="/images/header.svg" width="30" height="30" class="d-inline-block align-top" alt=""> MapViewer
  </span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/map" routerLinkActive="active">Map Viewer</a>
      </li>
      <li *ngIf="isViewer()" class="nav-item" title="Agregar zona por formulario">
        <a class="nav-link" routerLink="/zone" routerLinkActive="active">Formulario</a>
      </li>
      <li *ngIf="isViewer()" class="nav-item" title="Importar zonas">
        <a class="nav-link" routerLink="/import" routerLinkActive="active">Importar</a>
      </li>
      <li *ngIf="isAdmin()" class="nav-item" title="Review Chart">
        <a class="nav-link" routerLink="/chart" routerLinkActive="active">Chart</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <li *ngIf="!isLogged()" class="nav-item">
      <a class="nav-link active clickable" routerLink="/login" routerLinkActive="active" title="Login">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        LOGIN
      </a>
    </li>
    <li *ngIf="isLogged()" class="nav-item">
      <a class="nav-link active clickable" routerLink="/map" (click)="logout()" title="Logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        {{user?.username}}
      </a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<toaster-container></toaster-container>
