.maps-content {
  .scroll-content {
    margin-top: 44px;
  }
  agm-map {
    padding: 0;
  }
  .sebm-google-map-container {
    height: ~"calc(100vh - 70px)";
    width: 100%;
    margin-top: -15px;
  }
}
