<div class="maps-content">
  <agm-map [latitude]="iniLat" [longitude]="iniLng" [zoom]="zoom" (mapClick)="onMapClick($event)">
    <agm-marker *ngIf="info" [latitude]="info.point.latitude" [longitude]="info.point.longitude">
      <agm-info-window *ngIf="info.register" isOpen="true" [disableAutoPan]="true">
        <b>Contaminacion:</b> <br/>
        <b>CO:</b> {{parseValue('co')}} <br/>
        <b>CO2:</b> {{parseValue('co2')}} <br/>
        <b>NO2:</b> {{parseValue('no2')}} <br/>
        <b>SO2:</b> {{parseValue('so2')}} <br/>
        <b>PM10:</b> {{parseValue('pm10')}}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
