<div class="register-chart-container">
  <div class="row">
    <div class="col-12">
      Seleccionar Zone:
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          <span *ngIf="!currentZone">Ninguno</span>
          <span *ngIf="currentZone">{{currentZone.code}}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            class="dropdown-item" [ngClass]="{ 'active': !currentZone }"
            (click)="currentZone = undefined; unSubscribeRegiters(true);"
          >
            Ninguno
          </button>
          <ng-template ngFor let-zone [ngForOf]="zones | async">
            <button
              class="dropdown-item" [ngClass]="{ 'active': zone._id === currentZone?._id }"
              (click)="currentZone = zone; subscribeRegisters();"
            >
              {{zone.code}}
            </button>
          </ng-template>
        </div>
      </div>
      {{counts | async }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 register-chart">
      <chart [options]="options"></chart>
    </div>
  </div>
</div>
