<a class="clickable" tabindex="0" (click)="typeForm = 'LOGIN'">Login</a>  &nbsp;&nbsp;&nbsp;
<a class="clickable" tabindex="0" (click)="typeForm = 'SIGNUP'">Crear cuenta</a>

<div *ngIf="typeForm === 'LOGIN'" class="col-6 contamination-form">
 

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title="user name"> User: </label>
    <div class="col-sm-9">
      <input  class="form-control" placeholder="Ingrese nombre del usuario" [(ngModel)]="username" name="username">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title=password> Password: </label>
    <div class="col-sm-9">
      <input  type="password" class="form-control" placeholder="Ingrese password" [(ngModel)]="password" name="password">
    </div>
  </div>
  <div class="form-group row" class="col-12 text-center pr-0"> 
    <input type="submit" value="Login " class="btn btn-primary clickable"  (click)="login()">
  </div>
</div>  

<div *ngIf="typeForm === 'SIGNUP'" class="col-6 contamination-form">
  
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title="user name"> User: </label>
    <div class="col-sm-9">
      <input  class="form-control" placeholder="Ingrese nombre del usuario" [(ngModel)]="username" name="username">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title="Email"> Email: </label>
    <div class="col-sm-9">
      <input type="email" class="form-control" placeholder="Ingrese email" [(ngModel)]="email" name="email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title="Password"> Password: </label>
    <div class="col-sm-9">
      <input  type="password" class="form-control" placeholder="Ingrese password" [(ngModel)]="password" name="password">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" title="Rol"> Rol: </label>
    <div class="col-sm-9">
      <input type="radio" name="role" [value]="true" [(ngModel)]="isAdmin" />  Admin
      <input type="radio" name="role" [value]="false" [(ngModel)]="isAdmin" />  Técnico
    </div>
  </div>
  <div class="form-group row" class="col-12 text-center pr-0">  
    <input type="submit" value="Register" class="btn btn-primary clickable" (click)="signup()">    
  </div>  
</div>
